/* 条目 */
.filter-scheme-item {
    border-radius: 8px;
}

.filter-scheme-item-dragging {
    opacity: 0.5;
}

.filter-scheme-item-drag-over-before {
    border-top: 2px dashed var(--interactive-accent);
}

.filter-scheme-item-drag-over-after {
    border-bottom: 2px dashed var(--interactive-accent);
}

.filter-scheme-item-drag-over-inside {
    border: 2px dashed var(--interactive-accent);
}

/* 方案列表 */

.filter-scheme-container {
    margin-top: 16px;
}

.filter-scheme-header {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-scheme-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-scheme-header-toggle {
    margin-right: 8px;
}

.filter-scheme-header-toggle-btn {
    padding: 2px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter-scheme-header-toggle-btn:hover {
    background-color: var(--background-modifier-hover);
}

.filter-scheme-header-title {
    font-size: var(--font-smaller);
    color: var(--interactive-accent);
}

.filter-scheme-header-add {
    margin-right: 8px;
}

.filter-scheme-list {
    margin-top: 6px;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

/* 弹窗容器 */
.filter-modal-container {
    padding: 30px 30px;
}

.filter-modal-title {
    margin-bottom: 16px;
    font-weight: bold;
}

.filter-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
}

/* 弹窗的视图 */

.filter-view-container {
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 6px;
}

.filter-view-label-margin {
    margin-right: 12px;
    width: 60px;
    display: inline-block;
}

.filter-name-container input[type="text"] {
    padding: 21px 20px;
    background-color: var(--background-modifier-hover);
    border: none;
    outline: none;
    border-radius: 8px;
}

.filter-name-container input[type="text"]:focus {
    border: none;
    outline: none;
    box-shadow: none;

}

.filter-keyword-container input[type="text"] {
    padding: 21px 20px;
    background-color: var(--background-modifier-hover);
    border: none;
    outline: none;
    border-radius: 8px;
}

.filter-keyword-container input[type="text"]:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.filter-date-container span {
    margin-left: 4px;
    margin-right: 4px;
}

.filter-date-container input[type="date"] {
    background-color: var(--background-modifier-hover);
    border: none;
}

.filter-tags-container {
    display: flex;
    flex-direction: row;
}