/* 容器 */

.add-note-container {
    background: var(--background-secondary);
    color: var(--text-normal);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 6px;
    position: relative;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.16);
    width: 100%;
    max-width: 620px;
    border: 1px solid transparent;
}

.add-note-container--focusd {
    border: 1px solid var(--interactive-accent-hover);
}

.add-note-title {
    margin: 0 0 8px 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--background-modifier-border);
}

.add-note-title textarea {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-variant: var(--h3-variant);
    letter-spacing: -0.015em;
    color: var(--h3-color);
    font-weight: var(--h3-weight);
    font-style: var(--h3-style);
    font-family: var(--h3-font);
    white-space: break-spaces;
    word-break: break-word;
    overflow-wrap: anywhere;
    border-radius: 0;
    resize: none;
    overflow-y: hidden;
    font-size: 1.15rem;
    line-height: 1.25;
    box-shadow: none;
}

.add-note-title textarea::placeholder {
    color: var(--text-faint);
    font-weight: normal;
}

.add-note-title-input--invalid {
    border-bottom: 2px solid var(--background-modifier-error);
}

.add-note-content-container {
    position: relative;
    word-break: break-word;
    margin-top: 16px;
}

.add-note-content {
    min-height: 100px;
    overflow: hidden;
    word-break: break-word;
}

.add-note-placeholder {
    position: absolute;
    left: 10px;
    color: var(--text-faint);
    font-size: 0.85rem;
}

.add-note-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.add-note-tag-input-container {
    width: 100%;
    max-width: 460px;
    padding: 6px 0;
    margin-left: 2px;
}

.add-note-send-button {
    padding: 6px 15px;
}

.add-note-send-button:hover {
    background: var(--interactive-accent);
    --icon-color: var(--text-on-accent);
    opacity: 1.2;
    filter: brightness(1.1);
}

/* 编辑器 */

.add-note-content .workspace-leaf {
    contain: initial !important;
    height: 100%;
}

.add-note-content .workspace-leaf-resize-handle {
    display: none;
}

.add-note-content .view-header {
    display: none;
}

.add-note-content .view-content {
    flex: 1;
    overflow: hidden;
    background-color: transparent !important;
}

.add-note-content .markdown-preview-view {
    padding: 0;
    overflow: hidden !important;
}

.add-note-content .modal-content {
    margin: 0;
}

.add-note-content .mod-header {
    display: none;
}

.add-note-container .embedded-backlinks {
    display: none;
}

.add-note-content .metadata-container {
    display: none !important;
}

.add-note-content .inline-title {
    display: none;
}

.add-note-content .markdown-preview-sizer {
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0;
}

.add-note-content .markdown-preview-section {
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0;
}

.add-note-content .cm-scroller {
    padding: 0 0 0 12px !important;
    margin: 0 !important;
}

.add-note-content .cm-gutters {
    display: none;
}

.add-note-content .cm-content {
    padding: 0 !important;
}

.add-note-content .cm-active.cm-line {
    background-color: transparent !important;
}

.add-note-content .view-content .empty-state {
    display: none;
}

@media (max-width: 767px) {

    .add-note-container {
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 6px;
        width: 100%;
        max-width: 100%;
    }

    .add-note-footer {
        flex-direction: column;
        align-items: stretch;
    }

    .add-note-footer>div {
        width: 100% !important;
        margin-bottom: 10px;
    }

}

/* 宽屏设备 */
@media (min-width: 768px) {

    .add-note-content .cm-line {
        font-size: 0.85rem;
        /* line-height: 1.2; */
    }

    .add-note-content .cm-header-1 {
        font-size: 1.25rem;
        line-height: 1.3;
    }

    .add-note-content .cm-header-2 {
        font-size: 1.2rem;
        line-height: 1.3;
    }

    .add-note-content .cm-header-3 {
        font-size: 1.15rem;
        line-height: 1.25;
    }

    .add-note-content .cm-header-4 {
        font-size: 1.1rem;
        line-height: 1.25;
    }

    .add-note-content .cm-header-5 {
        font-size: 1.05rem;
        line-height: 1.2;
    }

    .add-note-content .cm-header-6 {
        font-size: 1rem;
        line-height: 1.2;
    }

}